.cover {
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: black;
  text-align: center;
  display: table;
}

h1 {
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
}

p {
  font-family: 'Crimson Text', serif;
}