body {
  background: url('assets/freedom.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: black;
  line-height: 1.5;
}

.wrapper {
  width: 90%;
  padding-top: 10vh;
  text-align: center;
  margin: 0 auto;
}

h1 {
  text-transform: uppercase;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
  font-style: italic;
}

a {
  text-decoration: none;
  color: blue;
}


@media (max-width: 768px) {

  h1 {
  font-size: 1.5rem;
  }
  
  p {
    font-size: 1rem;
  }
}

ul {
  list-style: none
}

li {
  display: inline;
}

nav {
  text-align: center
}
